{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <form method="POST">
        <label for="name">Nome da Serie: </lable>
        <input type="text" name="name" id="name">
        <buttom>Adicionar</adicionar>
    </form>
{% endblock %}